<% include ./partials/header %> 

 <div class="mainflash_container">
    <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
        </div>

<div class="mainbody">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/7a/1c/b2/7a1cb2039c84ad740c575c128c905509--cute-pikachu-cute-pokemon.jpg">
    
    <div class="belowimg">
    <h5>Do not get STRESSED!!</h5>
    <h5>Wether it is your boss, co-worker, friend, boyfriend/girlfriend, or a family member, just shout your inner stress out and they won’t know!!</h5>
    </div>
    
    <div class="twobtn">
        <% if(!currentUser){ %>
            <a id="signupbtn" class="btn btn-lg btn-default" href="/register">Sign Up</a>
            <a id="Loginbtn" class="btn btn-lg btn-default" href="/login">Log in</a>
                    <% } else { %>
                        <a id="composebtn" class="btn btn-lg btn-danger" href="/profile">Compose Email</a>
                    <% } %>
    </div>
    
    <div class="line"></div>
    
    <div id="about" class="six columns">
    <h2>What is this all About?</h2>
    </div>
    <div id="about_p" class="six columns">
    <p>We usually hold in our anger toward the people we interact with daily. Trying our best not to ruin, but to maintain our relationships with them, which leads to the cause of our stress! </p>
    <p>I am pretty sure, once in a while, you might have thought of expressing you anger by maybe sending an email of everything that you wanted to say.</p>
    <p>Here is E-AngerRoom!! The place where you can send anger e-mails AND maintain your peaceful relationships. The place where you can relieve all your stress! Say what you got to say!</p>
    <p>Please watch the video below to get started!</p>
    </div>
    
    <div class="line"></div>
    
    <div class="youtube">
    <iframe width="854" height="480" src="https://www.youtube.com/embed/kgqep0h1tuo" frameborder="0" allowfullscreen></iframe>
    </div>
    
    <div class="first-try"> 
     <% if(!currentUser){ %>
            <a id="trybtn" class="btn btn-lg btn-danger" href="/register">Now, try E-AngerRoom!</a>
                    <% } else { %>
                        <a id="composebtn" class="btn btn-lg btn-danger" href="/profile">Compose Email</a>
                    <% } %>
    </div>
    <div class="line"></div>
    </div>
<% include ./partials/footer %> 

